body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url("../Register/bookshelf.avif") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 40px 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #6a11cb;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #6a11cb;
  outline: none;
}

button {
  padding: 10px 20px;
  margin-left: 12.5px;
  background-color: #6a11cb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #2575fc;
}

#message {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
}

.register-link a {
  color: #6a11cb;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
